[Unit]
Description=PE UKI lab Python payload
After=basic.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mkosi-lab
StandardOutput=journal+console
StandardError=journal+console
RemainAfterExit=yes

[Install]
WantedBy=default.target
