[defaults]
inventory          = ansible/inventory
roles_path         = ansible/roles
collections_paths  = ansible/collections
host_key_checking  = False

[ssh_connection]
pipelining = True
ssh_args   = -F .vagrant/ssh-config -o ControlMaster=auto -o ControlPersist=60s
