[Distribution]
Distribution={{ mkosi_esp_distribution }}
Release={{ mkosi_esp_effective_release | default(mkosi_esp_release) }}
Architecture={{ mkosi_esp_effective_architecture | default(mkosi_esp_architecture) }}
{% if mkosi_esp_mirror | length > 0 %}
Mirror={{ mkosi_esp_mirror }}
{% endif %}

[Output]
Format={{ mkosi_esp_effective_output_format | default(mkosi_esp_output_format) }}
Output={{ mkosi_esp_project_name }}
OutputDirectory={{ mkosi_esp_output_directory }}
{% if mkosi_esp_legacy_mkosi | default(false) and mkosi_esp_output_format == 'uki' %}
Bootable=yes
SplitArtifacts=yes
CompressOutput=no
{% endif %}

[Build]
{% if not (mkosi_esp_legacy_mkosi | default(false)) %}
CacheDirectory={{ mkosi_esp_cache_directory }}
{% endif %}

[Content]
{% if mkosi_esp_legacy_mkosi | default(false) %}
Cache={{ mkosi_esp_cache_directory }}
{% endif %}
{% if mkosi_esp_extra_trees | length > 0 %}
{% if mkosi_esp_legacy_mkosi | default(false) %}
{% for tree in mkosi_esp_extra_trees %}
ExtraTree={{ tree }}
{% endfor %}
{% else %}
ExtraTrees={{ mkosi_esp_extra_trees | join(' ') }}
{% endif %}
{% endif %}
{% if mkosi_esp_image_packages | length > 0 %}
{% if mkosi_esp_legacy_mkosi | default(false) %}
Packages={{ mkosi_esp_image_packages | join(',') }}
{% else %}
Packages={{ mkosi_esp_image_packages | join(' ') }}
{% endif %}
{% endif %}
{% if mkosi_esp_effective_root_password | default('') | length > 0 %}
{% if mkosi_esp_legacy_mkosi | default(false) %}
Password={{ mkosi_esp_effective_root_password }}
{% else %}
RootPassword={{ mkosi_esp_effective_root_password }}
{% endif %}
{% endif %}
{% if not (mkosi_esp_legacy_mkosi | default(false)) %}
{% if mkosi_esp_root_shell | length > 0 %}
RootShell={{ mkosi_esp_root_shell }}
{% endif %}
{% endif %}
{% if mkosi_esp_kernel_command_line | length > 0 %}
KernelCommandLine={{ mkosi_esp_kernel_command_line }}
{% endif %}
